{% extends 'base.html' %}
{% block bodyy %}
    <br>
    {% if user.is_authenticated %}
        <div class="container-fluid well span6 col-md-offset-1 col-md-9">
            <div class="row-fluid">
                <div class="span2 pull-right">
                    <img src="{{ user.myuser.profil_foto.thumbnail.url }}" class="img-rounded">
                    <h3>@{{ user.username }}</h3>

                </div>

                <div class="span8 pull-left">

                    <h5>Adı: <b>{% if user.first_name == None %}-{% else %}{{ user.first_name }}{% endif %}</b></h5>
                    <h5>Soyadı: <b>{% if user.last_name == None %}-{% else %}{{ user.last_name }}{% endif %}</b></h5>
                    <h5>Email: <b>{{ user.email }}</b></h5>
                    <h5>Doğum Tarihi: <b>{% if user.myuser.dogum_tarihi == None %}-{% else %}{{ user.myuser.dogum_tarihi }}{% endif %}</b></h5>
                    <h5>Kayıt Tarihi: <b>{{ user.date_joined }}</b>
                        <small>{{ user.date_joined|timesince }} önce</small>
                    </h5>
                    <div class="btn-group">
                        <a class="btn btn-info" href="{% url 'edit_profil' %}">
                            Düzenle
                        </a>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
    {% endif %}

{% endblock %}