{% extends 'base.html' %}
{% load widget_tweaks %}
{% block bodyy %}
    {% if user.is_authenticated and user.groups.all.first.name == "Satıcılar" %}
        <div class="container">
            <div class="row">
                <h3 class="col-sm-offset-3 col-sm-6">Ürün Ekle</h3>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-2">

                </div>
                <div class="col-sm-6">
                    <form action="{% url 'add_product' %}" method="POST" accept-charset="utf-8" class="form" role="form"
                          enctype='multipart/form-data'>
                        {% csrf_token %}


                        {{ form.urun_adi_f|attr:"class:form-control input-lg"|attr:"placeholder:Ürün Adı"|attr:"oninvalid:this.setCustomValidity('Lütfen geçerli bir ürün adı giriniz.')"|attr:"oninput:this.setCustomValidity('')" }}
                        {#                        <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="Ad"/>#}

                        {#                        <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Soyad"/>#}

                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <h4>
                                    <div class="label label-primary">{{ form.urun_resmi_f.label }} </div>
                                </h4>
                            </div>
                            <div class="col-xs-10 col-xs-10">
                                {{ form.urun_resmi_f|attr:"class:form-control input-lg" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                {{ form.urun_fiyati_f|attr:"class:form-control input-lg"|attr:"placeholder:Ürün Fiyatı (TL)"|attr:"oninvalid:this.setCustomValidity('Lütfen geçerli bir fiyat giriniz.')"|attr:"oninput:this.setCustomValidity('')" }}
                            </div>
                            <div class="col-xs-6 col-xs-6">
                                {{ form.urun_stok_f|attr:"class:form-control input-lg"|attr:"placeholder:Stok"|attr:"oninvalid:this.setCustomValidity('Lütfen geçerli sayı giriniz.')"|attr:"oninput:this.setCustomValidity('')" }}
                            </div>
                        </div>
                        {{ form.urun_aciklama_f|attr:"class:form-control input-lg"|attr:"placeholder:Açıklama (İsteğe bağlı)" }}


                        <br/>
                        <span class="help-block">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                </span>

                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Kaydet
                                </button>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a class="btn btn-lg btn-danger btn-block" href="{{ prev }}">
                                    İptal
                                </a>
                            </div>

                        </div>
                </div>
                </form>
            </div>
        </div>

    {% else %}


    {% endif %}

{% endblock %}